  <div class="login-container">
    <header class="login_header">
      <div class="login_header_left">
        <img src="../../../assets/hermes_logo.png" alt="hermes_logo">
        <h2>Hermes helps you connect and share with the people in your life.</h2>
      </div>
      <div class="login_header_right">
        <mat-card class="login_header_right_card">
          <mat-card-content class="login_header_right_card_content">
            <button class="login-button" (click)="login()">Sign in</button>
            <a href="#">Forget Password?</a>
            <a href="https://localhost:5001/Account/Create" class="create-account">Sign up</a>
          </mat-card-content>
        </mat-card>
        <p class="tagline"><strong>Create A Page</strong> for a celebrity, band or business</p>
      </div>
    </header>
    <footer class="login_footer">
      <img src="../../../assets/footer_crop.jpg" alt="footer">
    </footer>
  </div>