<div class="inside">
  <div class="user-picture">
      <img
      alt=""
      mat-card-avatar
      src="{{ currentUser?.profileImage}}">
    <span class="name">{{ currentUser?.firstName}} {{ currentUser?.lastName}}</span>
  </div>
        
  <div>
    <mat-icon>flag</mat-icon>
    <span>Pages</span>
  </div>

  <div>
    <mat-icon>people</mat-icon>
    <span>Friends</span>
  </div>

  <div>
    <mat-icon> chat</mat-icon>
    <span>Messenger</span>
  </div>

  <div>
    <mat-icon>store</mat-icon>
    <span>Marketplace</span>
  </div>

  <div>
    <mat-icon>video_library</mat-icon>
    <span>Videos</span>
  </div>

  <div>
    <mat-icon class="see-more">expand_more</mat-icon>
    <span>See More</span>
  </div>

</div>